templateData:
  site:
    title: "Rob Loach"
    url: "http://github.com/robloach/slides"
    description: """
      A next generation web architecture allowing for content management via the
      file system, rendering via plugins, and static site generation for
      deployment anywhere.
      """
    keywords: """
      DocPad, openbar()
      """

    # The website's styles
    styles: [
      'main.css'
    ]

    # The website's scripts
    scripts: [
      'main.js'
    ]
