---
layout: 'default'
---

// Title
section(data-background="2016-10-21-composer/composer.png")
  h1 Composer
  h2 Pro Tips
  p| By <a href="http://robloach.net">Rob Loach</a> / <a href="http://twitter.com/robloach">@RobLoach</a>
  p
    small| October 21st, 2016 - <a href="https://2016.badcamp.net">BADCamp, 2016</a>

// Rob Loach
section(data-background="2016-10-21-composer/harper.jpg")
  h2 Rob Loach
  p
    a(href="http://robloach.net")
      img(src="robloach.jpg")
  p| <a href="http://robloach.net"">robloach.net</a> / <a href="http://robloach.net">@RobLoach</a> / <a href="http://github.com/robloach">GitHub</a>
  p
    a(href="http://kalamuna.com") Kalamuna

// Dependency Hell
section(data-background="2016-10-21-composer/hell.jpg")
  h2 Dependency Hell
  ul
    li.fragment Copy and Paste all modules
    li.fragment Can miss a dependency
    li.fragment Difficult to upgrade
    li.fragment Version-conflicts

// Install Composer
section
  h2 Installing COMPOSER!
  pre
    code.javascript var hi = 'Hello Woorld!'

// PHP Composer require()

// Composer Global

// Install Drush with Composer
// Install Composer with Composer

// Composer Global Require
// https://github.com/consolidation/cgr

// Composer Versions Check
// https://github.com/Soullivaneuh/composer-versions-check/










section
  h2 Thank You
  p
    img(src="2013-11-27-docpad/victory-baby.jpg")
  h4| Now go use <a href="http://docpad.org">DocPad</a>
  ul
    li
      a(href="http://robloach.net") robloach.net
    li
      a(href="http://twitter.com/robloach") @RobLoach
    li
      a(href="http://github.com/robloach") GitHub
