---
layout: 'default'
---

section
  h1 Slides
  ul
    li
      a(href="docpad.html") 2014-11-09: Bower, Composer and npm, oh my!
    li
      a(href="docpad.html") 2013-11-27: DocPad
  p| By <a href="http://robloach.net">Rob Loach</a> / <a href="http://twitter.com/robloach">@robloach</a>
