---
layout: 'default'
---

section
  h1 Slides
  ul
    li
      a(href="docker4drupal.html") BADCamp 2017: Docker4Drupal
    li
      a(href="composer-pro-tips.html") BADCamp 2016: Composer Pro Tips
    li
      a(href="docpad.html") DrupalCon 2014: Bower, Composer and npm, oh my!
    li
      a(href="docpad.html") openBar() 2013: DocPad
  p| By <a href="http://robloach.net">Rob Loach</a> / <a href="http://twitter.com/robloach">@robloach</a>
