---
layout: 'default'
---

section
  h1 Intro to DocPad
  h2 Static Site Generator
  p| By <a href="http://robloach.net">Rob Loach</a> / <a href="http://twitter.com/robloach">@robloach</a>
  p
    img(src="img/docpad.jpg")
  p
    small| November 27th, 2013 - <a href="http://www.meetup.com/openBarToronto/events/149563372/">openBar()</a> Toronto

section(fullscreen-img="img/robnedloach.jpg")
  h2 Rob Loach
  p
    a(href="http://robloach.net")
      img(src="http://gravatar.com/avatar/195e7bb9c2826a301f259dc82ca57af2?s=200&r=G")
  p| <a href="http://robloach.net"">robloach.net</a> / <a href="http://robloach.net">@RobLoach</a> / <a href="http://github.com/robloach">GitHub</a>
  p| Engineer at <a href="http://myplanetdigital.com">Myplanet Digital</a>
