---
layout: 'default'
---

section
  h1 Intro to DocPad
  h2 Static Site Generator
  p| By <a href="http://robloach.net">Rob Loach</a> / <a href="http://twitter.com/robloach">@robloach</a>
  p
    img(src="img/docpad.jpg")
  p
    small| November 27th, 2013 - <a href="http://www.meetup.com/openBarToronto/events/149563372/">openBar()</a> Toronto

section(fullscreen-img="img/robnedloach.jpg")
  h2 Rob Loach
  p
    a(href="http://robloach.net")
      img(src="http://gravatar.com/avatar/195e7bb9c2826a301f259dc82ca57af2?s=200&r=G")
  p| <a href="http://robloach.net"">robloach.net</a> / <a href="http://robloach.net">@RobLoach</a> / <a href="http://github.com/robloach">GitHub</a>
  p| Engineer at <a href="http://myplanetdigital.com">Myplanet Digital</a>

section
  h2 Content Management Systems
  p
    a(href="http://en.wikipedia.org/wiki/Content_Management_System")
      img(src="img/cms.jpg", title="Content Management Systems")

section(fullscreen-img="img/confusedcat.jpg")
  h2 Awesome, but Problematic
  ul
    li.fragment Can be slow
    li.fragment Steep learning curve
    li.fragment Content stuck in database
    li.fragment Adding functionality can be complex
    li.fragment Theming can be an issue
    li.fragment Sometimes not the right tool
    li.fragment Become a CMS Developer rather than Web Developer
    li.fragment etc

section(fullscreen-img="img/bottomcat.jpg")
  h2 Static Site Generators
  ul
    li.fragment Less complexity
    li.fragment The whole site is in the code base
    li.fragment Complete control over HTML and CSS
    li.fragment Focus is on content, not data
    li.fragment Performance
    li.fragment etc

section(fullscreen-img="img/bottomcat.jpg")
  p
    a(href="http://jekyllrb.com/")
      img(src="img/jekyll.png", title="Jekyll: Ruby", alt="Jekyll: Ruby", height="150px")
    a(href="http://ringce.com/hyde").fragment
      img(src="img/hyde.png", title="Hyde: Python", alt="Hyde: Python", height="150px")
    a(href="https://sculpin.io/").fragment
      img(src="img/sculpin.png", title="Sculpin: PHP", alt="Sculpin: PHP", height="150px")
  p.fragment
    a(href="https://docpad.org/")
      img(src="img/docpad.jpg", title="DocPad: Node", alt="DocPad: Node")

section
  h2
    a(href="http://docpad.org") DocPad
  ul
    li Rendering system
    li Helpers
    li Importers
    li Deployers
    li Usage

section(fullscreen-img="img/catlooking.jpg")
  h2 Rendering system
  p Multiple template engines
  ul
    li.fragment
      a(href="http://jade-lang.com") Jade
    li.fragment
      a(href="http://jashkenas.github.com/coffee-script/") CoffeeScript
    li.fragment
      a(href="http://coffeekup.org") CoffeeKup
    li.fragment
      a(href="https://github.com/sstephenson/eco") Eco
    li.fragment
      a(href="http://daringfireball.net/projects/markdown/basics") Markdown
    li.fragment
      a(href="http://www.php.net") PHP
  h2.fragment
    pre index.html
      span.fragment .jade
        span.fragment .eco
          span.fragment .handlebars
            span.fragment .php
  h2.fragment
    pre style.css
      span.fragment .styl
        span.fragment .less
          span.fragment .scss
  h2.fragment
    pre script.js
      span.fragment .coffee
        span.fragment .eco

section(fullscreen-img="img/helpercat.jpg")
  h2 Helpers
  p Enhanced functionality
  ul
    li.fragment
      a(href="http://docpad.org/plugin/livereload") Live Reloading
    li.fragment
      a(href="http://docpad.org/plugin/cleanurls/") Clean URLs
    li.fragment
      a(href="http://docpad.org/plugin/partials/") Partials
    li.fragment
      a(href="https://github.com/miletbaker/docpad-plugin-scheduling") Scheduling
    li.fragment
      a(href="http://gruntjs.com") Grunt.js
    li.fragment
      a(href="https://github.com/hurrymaplelad/docpad-plugin-rss") RSS
    li.fragment
      a(href="http://docpad.org/docs/plugins#helpers") etc

section(fullscreen-img="img/cateating.jpg")
  h2 Importers
  ul
    li.fragment
      a(href="http://docpad.org/plugin/tumblr/") Tumblr
    li.fragment
      a(href="http://docpad.org/plugin/downloader/") Download files
    li.fragment
      a(href="http://docpad.org/plugin/repocloner/") Clone repositories into your project

section(fullscreen-img="img/flyingcat.jpg")
  h2 Deployers
  ul
    li.fragment
      a(href="http://docpad.org/plugin/ghpages") GitHub Pages
    li.fragment
      a(href="https://github.com/bobobo1618/docpad-plugin-sunny") Sunny (AWS, Google Storage)

section(fullscreen-img="img/computercat.jpg")
  h2
    pre $ npm install docpad -g
    pre.fragment $ docpad init
    pre.fragment $ docpad skeleton
    pre.fragment $ docpad run

section
  h2 Example Time!
  h4| Just look at <a href="http://robloach.github.io/slides-docpad">this presentation's slides</a>
  p
    small
      a(href="http://robloach.github.io/slides-docpad") robloach.github.io/slides-docpad

section
  h2 Thank You
  p
    img(src="img/victory-baby.jpg")
  h4| Now go use <a href="http://docpad.org">DocPad</a>
  ul
    li
      a(href="http://robloach.net") robloach.net
    li
      a(href="http://twitter.com/robloach") @RobLoach
    li
      a(href="http://github.com/robloach") GitHub
